<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">  
    <script src="https://cdn.tailwindcss.com"></script>
     <title>Todo app</title>
</head>
<body>
    <div class=" grid grid-cols-6"> :
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
        </div>
    </div>
    <%- include('todos.ejs') %>
    <%- include('footer.ejs') %> 
</body>
</html>
